.calendar-container {
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
    min-height: 100vh;
  }
  
  .react-calendar {
    margin: auto;
    background: #1e1e1e;
    border-radius: 10px;
    border: none;
    color: white;
  }
  
  .react-calendar__tile--active {
    background-color: #ff6f61 !important;
    color: white !important;
  }
  
  .event-list {
    margin-top: 20px;
  }
  
  .event-item {
    padding: 10px;
    background-color: #2c2c3a;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  